<h1>Physician's Appointments</h1>


<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h3 class="card-title">Notable</h3>
    <h5>Physicians</h5>
    <ul class="list-group py-2">
    <% @physicians.each do |p| %>
      <a href=<%="physicians/#{p.id}/appointments"%>><li class="list-group-item"><%=  p.display_name %></li></a>
   <% end %>i
    </ul>
    <a href="#" class="btn btn-primary">Logout</a>
  </div>
</div>